@model ContractManager.Domain.Company

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<fieldset>
    <legend>Company</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ICO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ICO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIC)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Addresses)    
    </div>
    <div>@Html.Partial("_AddressesDetail", Model.Addresses)</div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Contacts)    
    </div>
    <div>@Html.Partial("_ContactsDetail", Model.Contacts)</div>
   

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
